<h2>Invitation</h2>

<p>Hello{{#if userName}} {{userName}}{{/if}},</p>

<p>
    You have been invited to join the project <strong>{{projectName}}</strong> from <strong>{{senderName}}</strong>
     on MetaMuse. Please enter this token <strong>{{token}}</strong> the app to continue.

</p>

<p>This code will expire in 5 days. If you did not request this code, please ignore this email or contact support if you have concerns.</p>
<p>Click here to continue with the verification process with the otp
</p>

<p>Best regards,<br>The MetaMuse Team {{currentYear}}</p>